export(add.indicator)
export(applyIndicators)
export(match.names)
export(getOrderBook)
export(initOrders)
export(getOrders)
export(addOrder)
export(updateOrders)
export(ruleOrderProc)
export(add.rule)
export(applyRules)
export(add.signal)
export(applySignals)
export(sigComparison)
export(sigCrossover)
export(sigPeak)
export(sigThreshold)
export(sigFormula)
export(strategy)
export(applyStrategy)
export(is.strategy)
export(getStrategy)
export(ruleSignal)
export(osNoOp)
export(addPosLimit)
export(getPosLimit)
export(osMaxPos)
