export(add.constraint)
export(add.distribution)
export(add.indicator)
export(add.init)
export(add.rule)
export(add.signal)
export(addOrder)
export(addPosLimit)
export(apply.paramset)
export(applyIndicators)
export(applyParameter)
export(applyRules)
export(applySignals)
export(applyStrategy.rebalancing)
export(applyStrategy)
export(chart.forward.testing)
export(chart.forward.training)
export(delete.paramset)
export(enable.rule)
export(getOrderBook)
export(getOrders)
export(getParameterTable)
export(getPosLimit)
export(getStrategy)
export(initOrders)
export(initStrategy)
export(is.strategy)
export(load.strategy)
export(match.names)
export(osMaxPos)
export(osNoOp)
export(put.orderbook)
export(put.strategy)
export(rm.strat)
export(ruleOrderProc)
export(rulePctEquity)
export(ruleRevoke)
export(ruleSignal)
export(save.strategy)
export(setParameterConstraint)
export(setParameterDistribution)
export(sigComparison)
export(sigCrossover)
export(sigFormula)
export(sigPeak)
export(sigThreshold)
export(strategy)
export(tradeGraphs)
export(tradeOrderStats)
export(updateOrders)
export(updateStrategy)
export(walk.forward)
